div#terms-notice{
  position: fixed;
  bottom: 1%;
  background: #fff;
  z-index: 9999;
  padding: 10px;
  margin-left: 1%;
  border-radius: 5px;
  box-shadow: 0 0 30px #a5a5a5;
}

div#terms-notice .terms-notice-button{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 1%;
}

#btn-terms-ok, #btn-terms-custom{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
  width: 100px;
  font-size: 1em;
}

.terms-notice-button #btn-terms-ok, .terms-notice-button #btn-terms-custom{
  width: 100px;
}

#btn-terms-custom{
  background-color: #fff;
  border: 1px solid #FF475E; 
  color: #FF475E;
  text-transform: capitalize;
}

#cookie-type-title{
  color: #28ace2;
  font-weight: bold;
}

.cookie-type{
 list-style: none;
}

.cookie-type label{
  font-size: .95em;
}

.hide {
    display: none!important;
}

table.cookies-table{
  border-collapse: collapse;
  width: 100%;
  table-layout: inherit;
}

table.cookies-table, table.cookies-table th, table.cookies-table td{
   border: 1px solid black;
}

table.cookies-table td{
  padding-left: 1%;
  height: 50px;
}

.cookies-description-container p{
  font-size: 1em
}


.btn-cookies-accept:hover, .btn-cookies-accept:focus, .btn-cookies-accept:active{
  background-color: #fff;
  border: 1px solid #f59e19;
  color:#333;

}